name: Validate PR
on:
  pull_request:
    branches:
      - 'main'
jobs:
  build_project:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build All Platforms
        run: ./gradlew :uxcam-kmp-shared:build --no-daemon
