name: Validate PR
on:
  pull_request:
    branches:
      - 'main'
jobs:
  build_project:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode 14.3
        run: sudo xcode-select -s /Applications/Xcode_14.3.app/Contents/Developer

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build
        run: ./gradlew :uxcam-kmp-shared:build --no-daemon
